.add{
    margin-left: 30px;
    font-size: large;
}
.box{
    height: 150px;
    width: 150px;
    margin-top: 40px;
}
.textbox {
    border-bottom: 1px solid #000000;    
    border-radius: none;
}
input.larger { 
    transform: scale(2); 
    margin: 25px 15px 0px 15px;
} 
.hr{
    border:1px solid;
}
